<!DOCTYPE html>
<html>
  <head>
    <title>Earthquakes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel='preload' href='/blank_map2.svg' as='image'>
    <link rel='preload' href='/quake_export.json' as='fetch' crossorigin='anonymous'>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>

  </head>
  <body>
    <%= yield %>
  </body>
</html>
